<span class="card-title activator grey-text text-darken-4">
  <h4><%=transaction.date.strftime("%d/%m/%Y")%></h4>
</span>
<div class="card-action">
	<%= render 'transactions/transaction_symbol', transaction: transaction %>
	<b><%= Transaction.human_enum_name(:type_transaction, transaction.type_transaction) %></b>

	<% if transaction.type_transaction == 'transfer' %>
	<b>
		<%= Transaction.human_enum_name(:type_transfer, transaction.type_transfer) %>
	</b>
	<% end %>
	<%= render 'transactions/transaction_recipient_data', transaction: transaction %>
	<br>

	<%= render 'transactions/transaction_value', transaction: transaction %>
	<br>	
	<i class="transfer-description"><%= transaction.description %></i><br>
</div>
