<div class="card-action">
	<%= render 'transactions/transaction_symbol', transaction: transaction %>
	<%= render 'transactions/transaction_type', transaction: transaction %>

	<%= link_to transaction, remote: true, class: "waves-effect waves-light btn-tiny" do %>
		<i class="material-icons left">visibility</i>
	<% end %>

	<%= render 'transactions/transaction_recipient_data', transaction: transaction %>
	<br>
	<%= render 'transactions/transaction_value', transaction: transaction %>
	<% if transaction.description != '' %>
	<br>
	<i class="transfer-description"><%= transaction.description %></i>
	<% end %>

</div>
