<%= javascript_pack_tag 'custom_materialize_datepicker' %>
<%= render 'composer/transactions/options' %>
<%= form_tag url_for(:controller => 'transactions', :action => @action_controller, :type_transaction => params[:type_transaction]), :method => 'post' do %>

<div class="card">
  <div class="card-content">
    <h3><%=@transaction_name%></h3>

    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li>
              <div class="materialert">
                <i class="material-icons">error_outline</i>
                <span><%= message %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <%= text_field_tag 'value','', class: 'validate value', autofocus: true %>
            <label for="#value" data-error="wrong" data-success="right">Quanto você deseja
              <%=@transaction_type%>?</label>
          </div>
        </div>

        <% if params[:type_transaction] == '3' %>
          <div class="row">
            <%= hidden_field_tag 'extra','0' %>
            <%= hidden_field_tag 'tax_calc',@tax %>
            <div class="input-field col s2">
              <%= text_field_tag 'tax',0, class: 'validate',:disabled => true %>
              <label class="active">Taxa</label>
            </div>
            <div id="warning" class="col s4 materialert warning" style="display: none;">
              Essa operação tem um custo!<br>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <%= text_field_tag 'description','', class: 'validate' %>
              <label for="#description" data-error="wrong" data-success="right">Descrição</label>
            </div>
          </div>

        <% end %>
      </form>
      <%= submit_tag 'Efetuar', :class => 'col s6 btn btn-large waves-effect indigo'%>
    </div>
  <%end%>

</div>
</div>

<script type="text/javascript">
$(function () {
  $('.value').maskMoney({allowNegative: false, decimal: ".", thousands: ""});
});

function toggleAlert(value){
  var warning = document.getElementById("warning");
  if (value == 0) {
      warning.style.display = "none";
  } else{
      warning.style.display = "block";
      warning.textContent = 'Essa operação tem um custo! Será retirado de sua conta R$ ' + (parseFloat(value)).toFixed(2).toString();      
  };
};

$(document).ready(function(){
  $('#value').keyup(function() {
    var tax = document.getElementById('tax');
    var value = document.getElementById('value').value.replace(',', "");

    $.ajax({
      type:"GET",
      url:"/transactions/get_tax",
      dataType:"json",
      data: {value: value, type_transaction: <%=params[:type_transaction]%>},
      success:function(result){
        tax.value = parseFloat(result).toFixed(2);
        toggleAlert(result);
      }
    });
  });
});
</script>
