<%= render 'composer/transactions/options' %>
<%= form_tag url_for(:controller => 'transactions', :action => @action_controller, :type_transaction => params[:type_transaction]), :method => 'post' do %>

<div class="card">
  <div class="card-content">
    <h3><%=@transaction_name%></h3>

    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li>
              <div class="materialert">
                <i class="material-icons">error_outline</i>
                <span><%= message %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <%= text_field_tag 'value','', class: 'validate value', autofocus: true %>
            <label for="#value" data-error="wrong" data-success="right">Quanto você deseja
              <%=@transaction_type%>?</label>
          </div>
          <div class="input-field col s4">
            <%= text_field_tag 'date',Time.zone.now.strftime("%d/%m/%Y"), :class => 'datepicker' %>
            <label class="active">Data</label>
          </div>
        </div>

        <% if params[:type_transaction] == '3' %>
          <div class="row">
            <%= hidden_field_tag 'extra','0' %>
            <%= hidden_field_tag 'tax_calc',@tax %>
            <div class="input-field col s2">
              <%= text_field_tag 'tax',0, class: 'validate',:disabled => true %>
              <label class="active">Taxa</label>
            </div>
            <div id="warning" class="col s4 materialert warning" style="display: none;">
              Essa operação tem um custo!<br>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s8">
              <%= text_field_tag 'description','', class: 'validate' %>
              <label for="#description" data-error="wrong" data-success="right">Descrição</label>
            </div>
          </div>

        <% end %>
      </form>
      <%= submit_tag 'Efetuar', :class => 'col s6 btn btn-large waves-effect indigo'%>
    </div>
  <%end%>

</div>
</div>

<script>
$(function () {
  $('#value').keyup(function () {
    var value = parseFloat(this.value.replace(',', ""));
    var tax_calc = document.getElementById('tax_calc');
    var extra = document.getElementById('extra');
    var tax = document.getElementById('tax');
    var warning = document.getElementById("warning");
    var var_extra = 10;

    if (value == 0) {
      tax.value = 0;
      extra.value = 0;
      warning.style.display = "none";

    } else if (value > 0 && value < 1000) {
      tax.value = parseFloat(tax_calc.value).toFixed(2);
      extra.value = 0;
      warning.style.display = "block";
      warning.textContent = 'Essa operação tem um custo! Será retirado de sua conta R$ ' + (
        parseFloat(value) + parseFloat(tax_calc.value)
      ).toFixed(2).toString();

    } else {
      tax.value = (parseFloat(tax_calc.value) + 10).toFixed(2);
      extra.value = var_extra;
      warning.style.display = "block";
      warning.textContent = 'Essa operação tem um custo!';
      warning.textContent = 'Essa operação tem um custo! Será retirado de sua conta R$ ' + (
        parseFloat(value) + parseFloat(tax_calc.value) + parseFloat(var_extra)
      ).toFixed(2).toString();

    };

  });
});
</script>

<script type="text/javascript">
$(function () {
  $('.value').maskMoney({allowNegative: false, decimal: ".", thousands: ""});
});

$(document).ready(function () {
  var diaSemana = [
    'Domingo',
    'Segunda-Feira',
    'Terca-Feira',
    'Quarta-Feira',
    'Quinta-Feira',
    'Sexta-Feira',
    'Sabado'
  ];
  var mesAno = [
    'Janeiro',
    'Fevereiro',
    'Marco',
    'Abril',
    'Maio',
    'Junho',
    'Julho',
    'Agosto',
    'Setembro',
    'Outubro',
    'Novembro',
    'Dezembro'
  ];
  var data = new Date();
  var hoje = diaSemana[data.getDay()] + ', ' + mesAno[data.getMonth()] + ' de ' + data.getFullYear();

  $('.datepicker').datepicker({
    i18n: {
      months: [
        'Janeiro',
        'Fevereiro',
        'Março',
        'Abril',
        'Maio',
        'Junho',
        'Julho',
        'Agosto',
        'Setembro',
        'Outubro',
        'Novembro',
        'Dezembro'
      ],
      monthsShort: [
        'Jan',
        'Fev',
        'Mar',
        'Abr',
        'Mai',
        'Jun',
        'Jul',
        'Ago',
        'Set',
        'Out',
        'Nov',
        'Dez'
      ],
      weekdays: [
        'Domingo',
        'Segunda',
        'Terça',
        'Quarta',
        'Quinta',
        'Sexta',
        'Sabádo'
      ],
      weekdaysShort: [
        'Dom',
        'Seg',
        'Ter',
        'Qua',
        'Qui',
        'Sex',
        'Sab'
      ],
      weekdaysAbbrev: [
        'D',
        'S',
        'T',
        'Q',
        'Q',
        'S',
        'S'
      ],
      today: 'Hoje',
      clear: 'Limpar',
      cancel: 'Sair',
      done: 'Confirmar',
      labelMonthNext: 'Próximo mês',
      labelMonthPrev: 'Mês anterior',
      labelMonthSelect: 'Selecione um mês',
      labelYearSelect: 'Selecione um ano',
      selectMonths: true,
      selectYears: 15
    },
    format: 'dd/mm/yyyy'
  });
});
</script>
